<h1>Add Bookmark</h1>

<div>
  <form action='/save_link' method='post'>
    <label for='save_link'>
      New Link URL
      <input type='text' name='save_link' required='required'>
    </label>
    <label for='save_title'>
      New Link Title
      <input type='text' name='save_title' required='required'>
    </label>
    <input type="submit" value ="Save Bookmark">
  </form>
</div>
