<div class = 'toolbar'>
  <form action = '/add_bookmark'>
    <input type = 'submit' value = 'Add link'>
  </form>
</div>

<div>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark %></li>
    <% end %>
  </ul>
</div>
