<div class = 'Toolbar'>
  <form action='/add_bookmark'>
    <input type='submit' value ='Add link'>
  </form>
</div>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
