<div class = 'toolbar'>
  <form action = '/add_bookmark'>
    <input type = 'submit' value = 'Add Bookmark'>
  </form>
</div>

<div>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><a href="<%=bookmark.url%>"><%=bookmark.title%></a></li>
    <% end %>
  </ul>
</div>
