<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css">
  </head>
  <body>
    <div style="border: 5px solid black; margin: 25px; padding: 25px">
      <h1>Bookmark Manager</h1>
      <%= yield %>
    </div>
  </body>
</html>
